.container{
    display: flex;
}


.player-container{
    width: 70%;
    margin-right: 5px;
    margin-left: 20px;
    border-right: 1px solid gray; 
}
.playerlist-container{
    margin-left: 40px;
}