.player{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding: 5px;
}
.image{
   width: 200px;
   height: 200px;
}
.details{
    margin-left: 20px;
}
.button{
    width: 350px;
    cursor : pointer
}